body {
    background-color: rgba(89,186,191, 0.4);
    width: 60%;
}
header {
    background-color: #22598A;
    border-radius: 10px;
    border: 3px solid #0A1A29;
    box-shadow: 10px 5px 5px #22598a;
    margin: 10px 10px 20px 10px;
    padding: 2px 3px 10px 3px;
    text-align: center;
}
h1 {
    color: #F8FFE2;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: 800;
}
h2 {
    background-color: #22598A;
    border-radius: 10px;
    border: 3px solid #0A1A29;
    box-shadow: 10px 5px 5px #22598a;
    color: #faf5dc;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    font-weight: bolder;
    margin: 10px auto 10px 10px;
    padding: 30px; 
}
h3 {
    color: #22598A;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin: 15px auto 10px 5px;
    padding: 5px auto 5px 5px;
}
li {
    color: #22598A;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 600;
}
button {
    background-color: #F8FFE2;
    border-radius: 10px;
    border: 3px solid #F8FFE2;
    box-shadow: 10px 5px 5px #0A1A29;
    margin: 20px;
    padding: 15px;
}
a {
    color: #22598A;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}
img {
    border-radius: 10px;
    box-shadow: 10px 5px 5px #22598a;
    display: inline-block;
    height: 250px;
    margin:40px 20px 40px 20px;
    width: 450px;
}
.container {
    align-content: center;
    display: flex;
    height: 330px;
    justify-content: center;
    width: 1500px;
}
.pantryone {
    background-color: #faf5dc;
    border-radius: 10px; 
    border: 3px solid #22598A;
    box-shadow: 10px 5px 5px #22598a;
    display: inline-block;
    margin: 40px 20px 40px 20px;
    padding: 23px 95.031px 43px 20px;
}
.pantrytwo {
    background-color: #faf5dc;
    border-radius: 10px; 
    border: 3px solid #22598A;
    box-shadow: 10px 5px 5px #22598a;
    display: inline-block;
    margin: 40px 20px 40px 20px;
    padding: 23px 246.141px 43px 20px;
}
.refrigeratorone {
    background-color: #faf5dc;
    border-radius: 10px;
    border: 3px solid #22598A;
    box-shadow: 10px 5px 5px #22598a;
    display: inline-block;
    margin: 40px 20px 40px 20px;
    padding: 23px 238.5px 43px 20px; 
}
.refrigeratortwo {
    background-color: #faf5dc;
    border-radius: 10px;
    border: 3px solid #22598A;
    box-shadow: 10px 5px 5px #22598a;
    display: inline-block;
    margin: 40px 20px 40px 20px;
    padding: 23px 216.094px 43px 20px; 
}
.freezerone {
    background-color: #faf5dc;
    border-radius: 10px;
    border: 3px solid #22598A;
    box-shadow: 10px 5px 5px #22598a;
    display: inline-block;
    margin: 40px 20px 40px 20px;
    padding: 23px 44.547px 43px 20px; 
}
.freezertwo {
    background-color: #faf5dc;
    border-radius: 10px;
    border: 3px solid #22598A;
    box-shadow: 10px 5px 5px #22598a;
    display: inline-block;
    margin: 40px 20px 40px 20px;
    padding: 23px 75.688px 43px 20px; 
}
